client
client/
.claude/
.vscode/
.DS_Store

server/tacz_backup/
server/.cache/
server/.forge-manifest.json
server/.rcon-cli.env
server/.rcon-cli.yaml
server/.run-forge.env
server/banned-ips.json
server/banned-players.json
server/defaultconfigs/
server/eula.txt
server/libraries/
server/log4j2.xml*
server/logs/
server/ops.json
server/patchouli_books/
server/run.bat
server/run.sh*
server/server.properties
server/user_jvm_args.txt
server/usercache.json
server/usernamecache.json
server/whitelist.json
